@use 'variaveis';

.personagens{
    background-color:#160202;
    margin: 0 auto;
    height: 81vw;
    
    h2{
        color: variaveis.$corTextoPrimario;
        text-align: center;
        padding-top: 70px;
        font-size: 40px;
        border-bottom: 1px solid variaveis.$corDoBotao;
        letter-spacing: 0.8px;
        max-width: 400px;
        width: 100%;
        margin: 0 auto 60px;
    }

    
    &__content{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        margin-top: 44px;

        &__info{
            margin: 0 auto;
            margin-top: 30px ;
            color: variaveis.$corTextoPrimario;
            font-size: 13px;

            li{
                list-style: none;
                
            }
        }

        &__list{
            display: grid;
            width: 100%;
            justify-content: space-between;
            grid-template-columns: repeat(2, 460px);
            gap: 32px;
            margin-bottom: 32px;

            &__item{
                display: flex;

                img{
                    width: 240px;
                    height: 280px;
                    transition: all;

                    &:hover{
                        transform: scale(1.15, 1.15);
                        transition: all ease 0.7s;
                    }
                    
                }
                
            }
        }
    }
}

@media (max-width: 768px) {
    .personagens {
    height: auto;

    h2 {
        padding-top: 40px;
        font-size: 30px;
        margin-bottom: 40px;
    }

    &__content {
        margin-top: 30px;

        &__list {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 24px;
        margin: 0 auto;
        width: 300px;

        &__item {
            justify-content: center;
            align-items: center;
            display: block;
            border-bottom: 1px solid variaveis.$corDoBotao;

            &:last-child{
                border: none;
            }

            img {
            width: 100%;
            height: auto;         
            }
        }
        }

        &__info{
            text-align: center;
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .personagens {
    height: 118vw;

    h2 {
        font-size: 32px;
        padding-top: 60px;
        max-width: 320px;
        margin-bottom: 40px;
    }

    &__content {
        margin-top: 30px;

        &__info {
        font-size: 12px;
        }

        &__list {
        grid-template-columns: repeat(2, 400px);
        gap: 24px;

        &__item {
            &:nth-child(2){
                margin-right: 12px;
            }
            &:nth-child(4){
                margin-right: 12px;
            }
            &:nth-child(6){
                margin-right: 12px;
            }

            img {
            width: 200px;
            height: 240px;

            &:hover {
                transform: none;
                transition: none;
            }
            }
        }
        }
    }
    }
}